@model IEnumerable<bichos.Models.ViewModels.IndexPeliculasViewModel>
@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "MainLayout";
}
<main>

    <div id="pelis">
        @foreach (var p in Model)
        {
            
        <div>
            <a class="imgPelicula" href="~/Peliculas/@p.Nombre.Replace("-","_").Replace(" ","-")">
                <img src="~/images/portadas/@(p.Id)_p.jpg" alt="@p.Nombre">
            </a>
            <div class="nombrePelicula">
                <p>@p.Nombre</p>
            </div>
        </div>
        }
    </div>

</main>