@model IEnumerable<bichos.Models.ViewModels.IndexCortosViewModel> 
@{
    Layout = "MainLayout";
}
    <div id="principalPeliculas">

        <div id="pelis">
            @foreach(var categoria in Model)
            {
                <h1> @categoria.Categoria</h1>
                @foreach(var corto in categoria.cortos)
                {
                    
             <div>
                <a class="imgPelicula" href="~/cortos/@corto.Nombre.Replace(" ","-")">
                    <img src="~/images/portadas/@(corto.Id)_pc.jpg" alt="@corto.Nombre">
                </a>
                <div class="nombrePelicula">
                    <p>@corto.Nombre</p>
                </div>
            </div>
                }
                
            }
            
        </div>
    </div>

